*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: grey;
}

.calculator-keys {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-keys > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid grey;
  outline: none;
  background-color: whitesmoke;
}

.calculator-keys > button:hover,
.calculator-keys > button:focus {
  background-color: grey;
  border: 2px solid white;
}

.two-keys {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: grey;
  font-size: 1.5rem;
}

.output .current-operand {
  color: green;
  font-size: 3rem;
}